.css-after-gradiant {
    position: relative;
  }
  .css-after-gradiant img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
  }
  .css-after-gradiant::after {
    content: "";
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      rgba(255, 87, 34, 1) 0%,
      rgba(205, 220, 57, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
  }
  /* Code language: CSS (css) */